---
// layout imports
import MainLayout from "../../layouts/MainLayout.astro"

// component imports
import Gradient from "../../components/Gradient"
---

<MainLayout bodyClasses="!bg-transparent">
    <Gradient client:load/>

    <section class="gap-5">
        <div class="grid grid-cols-[repeat(auto-fill,minmax(145px,1fr))]">
            <div class="card bg-zinc-900 w-96 shadow-xl">
                <div class="card-body ">
                    <h2 class="card-title">Automod Regex Generator</h2>
                    <p>Generate versatile regular expressions for discord's built in automod</p>
                    <div class="card-actions justify-end">
                        <a class="btn btn-primary" href="/tools/discord/automod-regex">Use</a>
                    </div>
                </div>
            </div>
        </div>
        <ul>
            <li>
            </li>
        </ul>
    </section>
</MainLayout>