---
// layout imports
import MainLayout from "../../../layouts/MainLayout.astro"
---

<MainLayout title="AutoMod Regex Generator">
    <section class="!w-full">
        <div class="flex w-full flex-col gap-5 text-sm heir-h2:text-3xl">
            <div class="flex flex-col gap-5 rounded-xl p-3 bg-zinc-950/50">
                <h2>Click Speed Test</h2>
                <p>Just start clicking and after 5 seconds your stats will appear</p>
                <hr class="border-white/10">

                <div class="flex-grow rounded-r-none border-r border-r-zinc-900 stats bg-zinc-950">
                    <div class="stat">
                        <div class="stat-title">Time</div>
                        <div class="stat-value" id="clickTime">0:05</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Clicks</div>
                        <div class="stat-value" id="clickCount">0</div>
                    </div>
                </div>

                <div>
                    <div class="relative btn no-animation overflow-hidden w-full h-96 z-0">
                        <span class="pointer-events-none">click</span>
                        <div id="clickWaves" class="absolute inset-0 heir-div:rounded-full heir-div:z-1">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <dialog id="clickSpeedModal" class="modal">
        <div class="modal-box">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="text-lg font-bold"><span id="clickSpeedVal">0</span> CPS</h3>
            <p id="clickSpeedDesc" class="py-4"></p>
            <span class="text-sm text-zinc-500">You clicked <span id="clickSpeedDetails">0</span> times in 5 seconds</span>
        </div>
    </dialog>
    <script>
       import '../../../scripts/tools/perf/clickSpeed'
    </script>
</MainLayout>