@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-width: 0;
    color: white;
    /*font-family: "SpaceGrotesk", monospace;*/
    -webkit-tap-highlight-color: transparent;
    /*outline: solid 0.1px hsla(0 0% 100% / 0.5) !important;*/
  }

  section {
    @apply flex flex-col justify-center items-center mx-auto min-h-svh container px-28 xl:px-24 lg:px-20 md:px-12 sm:px-4;
  }

  section:first-of-type {
    @apply pt-24;
  }

  section:last-of-type {
    @apply pb-24;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}
