---
// layout imports
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Text Counter" description="A basic sleek word counter (+ characters, sentences, paragraphs)">
   <section class="w-full!">
      <div class="flex w-full flex-col gap-5 text-sm heir-h2:text-3xl">
         <div class="flex flex-col gap-5 rounded-xl p-3 bg-zinc-950/50">
            <h2>Word Counter</h2>
            <p>Type in some text and watch the counts appear</p>
            <hr class="border-white/10">

            <div class="flex">
               <div class="grow rounded-r-none border-r border-r-zinc-900 stats bg-zinc-950 md:stats-vertical">
                  <div class="stat">
                     <div class="stat-title">Characters</div>
                     <div class="stat-value" id="charCount">0</div>
                  </div>
                  <div class="stat">
                     <div class="stat-title">Words</div>
                     <div class="stat-value" id="wordCount">0</div>
                  </div>
               </div>
               <div class="grow rounded-l-none stats bg-zinc-950 md:stats-vertical">
                  <div class="stat">
                     <div class="stat-title">Sentences</div>
                     <div class="stat-value" id="sentenceCount">0</div>
                  </div>
                  <div class="stat">
                     <div class="stat-title">Paragraphs</div>
                     <div class="stat-value" id="paragraphCount">0</div>
                  </div>
               </div>
            </div>

            <div>
               <label class="form-control">
                        <span class="label">
                            <span class="label-text"><span id="charLimit" class="font-medium">0</span> / 5000</span>
                        </span>
                  <textarea id="input" class="relative min-h-fit w-full p-2 font-mono textarea textarea-bordered bg-zinc-950" rows="6"
                            maxlength="5000"></textarea>
               </label>
            </div>
         </div>
      </div>
   </section>
   <script>
      import "../../scripts/tools/text/counter";
   </script>
</MainLayout>