---
// layout imports
import MainLayout from "../layouts/MainLayout.astro"

import {Picture} from 'astro:assets';
import regex101_example from '../assets/images/regex101.png'
---

<MainLayout title="AutoMod Regex Generator">
    <section class="!w-full">
        <div class="flex flex-col text-sm w-full gap-5
            heir-h2:text-3xl
        ">
            <form action="" class="flex flex-col gap-5 p-3 pb-4 rounded-xl bg-zinc-950/50
                [&_label]:flex
                [&_label]:flex-row-reverse
                [&_label]:justify-end
                [&_label]:gap-2
                [&_label]:min-w-fit

                [&_.option-section--options]:grid
                [&_.option-section--options]:grid-cols-[repeat(auto-fill,minmax(145px,1fr))]
                [&_.option-section--options]:gap-y-3
                [&_.option-section--options]:gap-x-2

                [&_.option-section--title]:mb-4
                [&_.option-section--title_span]:block

                [&_.option-section--title_span:first-child]:flex
                [&_.option-section--title_span:first-child]:items-center
                [&_.option-section--title_span:first-child]:gap-[1ch]

                [&_.option-section--title_span:last-child]:hidden
                [&_.option-section--title_span:last-child]:text-xs
                [&_.option-section--title_span:last-child]:text-zinc-600
                md:[&_.option-section--title_span:last-child]:block

                [&_.option-section--title_i]:transition-opacity
                [&_.option-section--title_i]:duration-200
                [&_.option-section--title_i]:opacity-[0.3]
                hover:[&_.option-section--title_i]:opacity-[0.5]
                md:[&_.option-section--title_i]:hidden
            ">
                <h2>Settings</h2>
                <hr class="border-white/10">
                <fieldset>
                    <legend class="option-section--title">
                        <span>Character Variant Options <i class='icon-circle-help' title="Prevents character replacements with lookalikes"></i></span>
                        <span>Prevents character replacements with lookalikes</span>
                    </legend>
                    <div class="option-section--options">
                        <label title="hell, hllo, etc">Vowelless Variants
                            <input type="checkbox" name="vowelless-variants" class="checkbox checkbox-sm"/>
                        </label>
                        <label title="h3ll0, he110, etc">Number Variants
                            <input type="checkbox" name="number-variants" class="checkbox checkbox-sm"/>
                        </label>
                        <label title="hallo, hllo, etc">Letter Variants
                            <input type="checkbox" name="letter-variants" class="checkbox checkbox-sm"/>
                        </label>
                        <label title="hell, hllo, etc">Symbol Variants
                            <input type="checkbox" name="symbol-variants" class="checkbox checkbox-sm"/>
                        </label>
                        <label title="hell, hllo, etc">Emoji Variants
                            <input type="checkbox" name="emoji-variants" class="checkbox checkbox-sm"/>
                        </label>
                        <label title="hell, hllo, etc">Unicode Variants
                            <input type="checkbox" name="unicode-variants" class="checkbox checkbox-sm"/>
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="option-section--title">
                        <span>Formatting Options <i class='icon-circle-help' title="Controls text spacing, casing, and repetition"></i></span>
                        <span>Controls text spacing, casing, and repetition</span>
                    </legend>
                    <div class="option-section--options">
                        <label title="HeLLO, hElLo, etc">Case Insensitive
                            <input type="checkbox" name="caseInsensitive" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Whitespace
                            <input type="checkbox" name="whitespace" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Letter Spam
                            <input type="checkbox" name="letter-spam" class="checkbox checkbox-sm"/>
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="option-section--title">
                        <span>Structural Options <i class='icon-circle-help' title="Preserves word structure and boundaries"></i></span>
                        <span>Preserves word structure and boundaries</span>
                    </legend>
                    <div class="option-section--options">
                        <label title="HeLLO, hElLo, etc">Partial Matches
                            <input type="checkbox" name="partial-matches" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Merge Duplicates
                            <input type="checkbox" name="merge-duplicates" class="checkbox checkbox-sm"/>
                        </label>
                    </div>
                </fieldset>
            </form>
            <label class="form-control w-full">
                <span class="label">
                    <span class="label-text">Match phrase</span>
                    <span class="label-text-alt"><span id="input-count">0</span> / 200</span>
                </span>
                <input id="input" class="input text rounded-xl border-1 !p-3 bg-zinc-950/50" type="text"
                       name="input-text" placeholder="type something..." maxlength="200">
            </label>
            <div class="flex gap-5">
                <button id="copy" class="btn rounded-x bg-zinc-950/50 hover:bg-black/30 p-3">Copy</button>
                <code id="output"
                      class="language-regex whitespace-break-spaces !border-0 !rounded-xl !shadow-none !bg-zinc-950/50 !p-3 w-full">Output...</code>
            </div>
            <button id="share" class="btn btn-info rounded-x !p-3">Share</button>
            <div class="flex flex-col gap-5 py-5 px-3 rounded-xl bg-zinc-950/50">
                <h2>How to Test</h2>
                <hr class="border-white/10">
                <p>You can test your generated regex expression at <a class="link link-primary link-hover"
                                                                      href="https://regex101.com" target="_blank">Regex101</a>
                </p>
                <Picture class="[&_*]max-w-2xl" formats={["webp"]} src={regex101_example}
                     alt="example of a regex expression tested on regex101.com">
            </div>
        </div>
    </section>
    <script>
       import '../scripts/automod-regex/generator.js'
    </script>
</MainLayout>