---
// layout imports
import MainLayout from "../layouts/MainLayout.astro"

// component imports
import Gradient from "../components/Gradient"
---

<MainLayout classList="!bg-transparent">
    <Gradient client:load />

    <h1>Welcome</h1>
    <p>will get prettier soon</p>
    <ul>
        <li>
            <a class="link link-primary" href="/automod-regex">Automod Regex Generator</a>
        </li>
    </ul>
</MainLayout>