---
// LAYOUT IMPORTS
import MainLayout from "../../../layouts/MainLayout.astro";
import Gradient from "../../../components/Gradient";
import WaveEditor from "../../../components/WaveEditor";
---
<MainLayout bodyClasses="bg-transparent!">
   <section class="">
      <!--<Gradient client:load />-->
      <WaveEditor class:list={"bg-black"} client:load />
   </section>
</MainLayout>