---
// LAYOUT IMPORTS
import MainLayout from "../../../layouts/MainLayout.astro";
import WaveEditor from "../../../components/lucid/waves/WaveEditor";
---
<MainLayout bodyClasses="bg-transparent!">
   <section class="">
      <WaveEditor client:load />
   </section>
</MainLayout>