---
// layout imports
import Head from '../layouts/MainHead.astro'
---

<html data-theme="business" lang="en">
<Head />
<body class="p-5">
<div class="">
   <slot />
</div>
<script src="prismjs/prism.js"></script>
</body>
</html>
