---
// layout imports
import Head from '../layouts/MainHead.astro'
const { classList, title } = Astro.props;
---

<html data-theme="business" lang="en">
<Head {title} />
<body class={classList}>
   <slot />
<script src="prismjs/prism.js"></script>
</body>
</html>
