---

---
<nav class=" flex h-full! px-2 py-3 w-full bg-zinc-950/0 transition-colors duration-500 backdrop-blur-[10px]">
   <div class="">
      <a href="/" class="h-full block aspect-square"><img class="h-full" src="/images/logo.webp" alt="logo of website"></a>
   </div>
   <!--<div class="flex-none">-->
   <!--    <ul class="menu menu-horizontal px-1">-->
   <!--        <li>-->
   <!--            <details>-->
   <!--                <summary>Tools</summary>-->
   <!--                <ul class="bg-zinc-900 rounded-t-none p-2">-->
   <!--                    <li><a href="/automod-regex">AutoMod Regex Generator</a></li>-->
   <!--                    &lt;!&ndash;<li><a>Link 2</a></li>&ndash;&gt;-->
   <!--                </ul>-->
   <!--            </details>-->
   <!--        </li>-->
   <!--    </ul>-->
   <!--</div>-->
</nav>
<slot name="breadcrumbs" />
<script>
   const navbar = document.querySelector("nav");

   window.addEventListener("scroll", () => {
      if (window.scrollY > 10) {
         navbar.style.background = "rgba(0, 0, 0, 0.65)";
         navbar.style.backdropFilter = "blur(10px)";
      } else {
         navbar.style.background = "rgba(0, 0, 0, 0)";
         navbar.style.backdropFilter = "blur(0px)";
      }
   });
</script>
