---

---
<nav class="navbar h-full px-5 w-full bg-zinc-950/85 shadow-2xl backdrop-blur-md">
    <div class="flex-1">
        <a href="/" class="h-12 aspect-square p-0"><img class="h-full" src="/images/logo.webp" alt="logo of website"></a>
    </div>
    <!--<div class="flex-none">-->
    <!--    <ul class="menu menu-horizontal px-1">-->
    <!--        <li>-->
    <!--            <details>-->
    <!--                <summary>Tools</summary>-->
    <!--                <ul class="bg-zinc-900 rounded-t-none p-2">-->
    <!--                    <li><a href="/automod-regex">AutoMod Regex Generator</a></li>-->
    <!--                    &lt;!&ndash;<li><a>Link 2</a></li>&ndash;&gt;-->
    <!--                </ul>-->
    <!--            </details>-->
    <!--        </li>-->
    <!--    </ul>-->
    <!--</div>-->
</nav>
<slot name="breadcrumbs"/>
