---
// layout imports
import MainLayout from "../../../layouts/MainLayout.astro";
import Breadcrumbs from "../../../layouts/Breadcrumbs.astro";
---

<MainLayout title="AutoMod Regex Generator" description="Generate versatile regular expressions for discord's built in automod">
   <!--<link rel="preload" href="https://regex101.labs.gravwell.io/" as="document">-->
   <section class="w-full!">
      <div class="flex flex-col text-sm w-full gap-5
            heir-h2:text-3xl
        ">
         <form action="" class="flex flex-col gap-5 p-3 pb-4 rounded-xl bg-zinc-950/50
                [&_label]:flex
                [&_label]:flex-row-reverse
                [&_label]:justify-end
                [&_label]:gap-2
                [&_label]:min-w-fit

                [&_.option-section--options]:grid
                [&_.option-section--options]:grid-cols-[repeat(auto-fill,minmax(142px,1fr))]
                [&_.option-section--options]:gap-y-3
                [&_.option-section--options]:gap-x-2

                [&_.option-section--title]:mb-2
                [&_.option-section--title_span]:block

                [&_.option-section--title_span:first-child]:flex
                [&_.option-section--title_span:first-child]:items-center
                [&_.option-section--title_span:first-child]:gap-[1ch]
                [&_.option-section--title_span:first-child]:font-medium

                [&_.option-section--title_span:last-child]:hidden
                [&_.option-section--title_span:last-child]:text-sm
                [&_.option-section--title_span:last-child]:text-zinc-600
                md:[&_.option-section--title_span:last-child]:block

                [&_.option-section--title_i]:transition-opacity
                [&_.option-section--title_i]:duration-200
                [&_.option-section--title_i]:opacity-[0.3]
                [&_.option-section--title_i]:hover:opacity-[0.5]
                md:[&_.option-section--title_i]:hidden
            ">
            <h2 class="text-3xl">Settings</h2>
            <hr class="border-white/10">
            <fieldset>
               <legend class="option-section--title">
                  <span>Character Variant Options <i class="icon-circle-help" title="Prevents character replacements with lookalikes"></i></span>
                  <span>Prevents character replacements with lookalikes</span>
               </legend>
               <div class="option-section--options">
                  <label>Vowelless Variants
                     <input type="checkbox" name="vowelless-variants" class="checkbox checkbox-sm" />
                  </label>
                  <label>Number Variants
                     <input type="checkbox" name="number-variants" class="checkbox checkbox-sm" />
                  </label>
                  <label>Letter Variants
                     <input type="checkbox" name="letter-variants" class="checkbox checkbox-sm" />
                  </label>
                  <label>Symbol Variants
                     <input type="checkbox" name="symbol-variants" class="checkbox checkbox-sm" />
                  </label>
                  <label>Emoji Variants
                     <input type="checkbox" name="emoji-variants" class="checkbox checkbox-sm" />
                  </label>
                  <label>Unicode Variants
                     <input type="checkbox" name="unicode-variants" class="checkbox checkbox-sm" />
                  </label>
               </div>
            </fieldset>
            <fieldset>
               <legend class="option-section--title">
                  <span>Formatting Options <i class="icon-circle-help" title="Controls text spacing, casing, and repetition"></i></span>
                  <span>Controls text spacing, casing, and repetition</span>
               </legend>
               <div class="option-section--options">
                  <label>Case Insensitive
                     <input type="checkbox" name="caseInsensitive" class="checkbox checkbox-sm" />
                  </label>
                  <label>Whitespace
                     <input type="checkbox" name="whitespace" class="checkbox checkbox-sm" />
                  </label>
                  <label>Letter Spam
                     <input type="checkbox" name="letter-spam" class="checkbox checkbox-sm" />
                  </label>
               </div>
            </fieldset>
            <fieldset>
               <legend class="option-section--title">
                  <span>Structural Options <i class="icon-circle-help" title="Preserves word structure and boundaries"></i></span>
                  <span>Preserves word structure and boundaries</span>
               </legend>
               <div class="option-section--options">
                  <label>Partial Matches
                     <input type="checkbox" name="partial-matches" class="checkbox checkbox-sm" />
                  </label>
                  <label>Merge Duplicates
                     <input type="checkbox" name="merge-duplicates" class="checkbox checkbox-sm" />
                  </label>
               </div>
            </fieldset>
            <fieldset class="[&_div_label]:flex-col! [&_div_label_span]:text-zinc-500! [&_div_label_span]:text-xs!">
               <legend class="option-section--title">
                  <span>Misc Settings <i class="icon-circle-help" title="Miscellaneous settings related to the way the generator functions"></i></span>
                  <span>Miscellaneous settings related to the way the generator functions</span>
               </legend>
               <div class="option-section--options">
                  <label>
                     <span>Unicode Map:</span>
                     <select id="maps" class="w-full text-xs select select-bordered select-sm bg-zinc-950">
                        <option selected value="old">Default</option>
                        <option value="new">Extended (Buggy)</option>
                     </select>
                  </label>
               </div>
            </fieldset>
            <fieldset class="">
               <legend class="option-section--title">
                  <span>Match Phrase <i class="icon-circle-help" title="Type characters, words, or entire sentences"></i></span>
                  <span>Type characters, words, or entire sentences</span>

               </legend>
               <div class="fieldset">
                  <p class="fieldset-label"><span id="input-count">0</span> / 200</p>
                  <input id="input" class="input text w-full border-1 p-3! " type="text"
                         name="input-text" placeholder="type something..." maxlength="200">
               </div>
            </fieldset>
         </form>
         <div class="relative flex gap-5">
            <button id="copy" class="btn btn-success rounded-xl! p-3!">Copy</button>
            <button id="share" class="btn btn-primary rounded-x rounded-tl-lg rounded-br-lg rounded-bl-none p-1.5! min-h-0 h-[initial]! absolute right-0 bottom-0 rounded-tr-none">Share</button>
            <code id="output"
                  class="language-regex overflow-hidden whitespace-break-spaces border-0! rounded-xl! shadow-none! bg-zinc-950/50! p-3! w-full pb-9! ">Output...</code>
         </div>
         <div class="flex flex-col gap-5 rounded-xl p-3 bg-zinc-950/50">
            <h2 class="text-3xl">Test Regex</h2>
            <p>Simply type in a sentence or some words and if a match is found for your regex, it will get highlighted</p>
            <hr class="border-white/10">
            <fieldset class="fieldset">
               <div class="fieldset-label">
                  <span id="tester-matches" class="font-medium">0</span> Matches
               </div>
               <div class="min-h-fit w-full mx-auto bg-zinc-950 font-mono grid ">
                  <!-- Highlighted content -->
                  <pre id="tester-highlight"
                       class="textarea pointer-events-none [grid-area:_1_/_1] w-full min-h-40 p-2! bg-transparent font-mono whitespace-break-spaces text-transparent overflow-hidden break-all">
                  </pre>

                  <!-- Editable textarea -->
                  <div contenteditable="true" id="tester-input"
                       class="textarea textarea-ghost top-0 left-0 [grid-area:_1_/_1] w-full min-h-40 p-2! max-w-full bg-transparent! text-white caret-white resize-none font-mono outline-none break-all"
                       spellcheck="false"></div>
               </div>
               <div class="fieldset-label"><span id="tester-count">0</span> / 2000</div>
            </fieldset>
         </div>
      </div>
   </section>
   <script>
      import "../../../scripts/tools/discord/automod-regex/generator";
      import "../../../scripts/tools/discord/automod-regex/regexEngine";
   </script>
</MainLayout>