---
// layout imports
import MainLayout from "../../../layouts/MainLayout.astro"
import Breadcrumbs from "../../../layouts/Breadcrumbs.astro";
---

<MainLayout classList="test" title="AutoMod Regex Generator">
    <!--<link rel="preload" href="https://regex101.labs.gravwell.io/" as="document">-->
    <section class="!w-full">
        <div class="flex flex-col text-sm w-full gap-5
            heir-h2:text-3xl
        ">
            <form action="" class="flex flex-col gap-5 p-3 pb-4 rounded-xl bg-zinc-950/50
                [&_label]:flex
                [&_label]:flex-row-reverse
                [&_label]:justify-end
                [&_label]:gap-2
                [&_label]:min-w-fit

                [&_.option-section--options]:grid
                [&_.option-section--options]:grid-cols-[repeat(auto-fill,minmax(142px,1fr))]
                [&_.option-section--options]:gap-y-3
                [&_.option-section--options]:gap-x-2

                [&_.option-section--title]:mb-4
                [&_.option-section--title_span]:block

                [&_.option-section--title_span:first-child]:flex
                [&_.option-section--title_span:first-child]:items-center
                [&_.option-section--title_span:first-child]:gap-[1ch]

                [&_.option-section--title_span:last-child]:hidden
                [&_.option-section--title_span:last-child]:text-xs
                [&_.option-section--title_span:last-child]:text-zinc-600
                md:[&_.option-section--title_span:last-child]:block

                [&_.option-section--title_i]:transition-opacity
                [&_.option-section--title_i]:duration-200
                [&_.option-section--title_i]:opacity-[0.3]
                hover:[&_.option-section--title_i]:opacity-[0.5]
                md:[&_.option-section--title_i]:hidden
            ">
                <h2>Settings</h2>
                <hr class="border-white/10">
                <fieldset>
                    <legend class="option-section--title">
                        <span>Character Variant Options <i class='icon-circle-help' title="Prevents character replacements with lookalikes"></i></span>
                        <span>Prevents character replacements with lookalikes</span>
                    </legend>
                    <div class="option-section--options">
                        <label>Vowelless Variants
                            <input type="checkbox" name="vowelless-variants" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Number Variants
                            <input type="checkbox" name="number-variants" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Variants
                            <input type="checkbox" name="letter-variants" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Symbol Variants
                            <input type="checkbox" name="symbol-variants" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Emoji Variants
                            <input type="checkbox" name="emoji-variants" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Unicode Variants
                            <input type="checkbox" name="unicode-variants" class="checkbox checkbox-sm"/>
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="option-section--title">
                        <span>Formatting Options <i class='icon-circle-help' title="Controls text spacing, casing, and repetition"></i></span>
                        <span>Controls text spacing, casing, and repetition</span>
                    </legend>
                    <div class="option-section--options">
                        <label>Case Insensitive
                            <input type="checkbox" name="caseInsensitive" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Whitespace
                            <input type="checkbox" name="whitespace" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Letter Spam
                            <input type="checkbox" name="letter-spam" class="checkbox checkbox-sm"/>
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="option-section--title">
                        <span>Structural Options <i class='icon-circle-help' title="Preserves word structure and boundaries"></i></span>
                        <span>Preserves word structure and boundaries</span>
                    </legend>
                    <div class="option-section--options">
                        <label>Partial Matches
                            <input type="checkbox" name="partial-matches" class="checkbox checkbox-sm"/>
                        </label>
                        <label>Merge Duplicates
                            <input type="checkbox" name="merge-duplicates" class="checkbox checkbox-sm"/>
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="option-section--title">
                        <span>Unicode Map <i class='icon-circle-help' title="Changes the way unicode characters are matched"></i></span>
                        <span>Preserves word structure and boundaries</span>
                    </legend>
                    <div class="option-section--options">
                        <select id="maps" class="select select-bordered bg-zinc-950 text-sm rounded-lg w-full p-2.5 ">
                            <option selected value="old">Default</option>
                            <option value="new">Extended</option>
                        </select>
                    </div>
                </fieldset>
            </form>
            <label class="w-full form-control">
                <span class="label">
                    <span class="label-text">Match phrase</span>
                    <span class="label-text-alt"><span id="input-count">0</span> / 200</span>
                </span>
                <input id="input" class="input text rounded-xl border-1 !p-3 bg-zinc-950/50" type="text"
                       name="input-text" placeholder="type something..." maxlength="200">
            </label>
            <div class="relative flex gap-5">
                <button id="copy" class="btn btn-success !rounded-xl !p-3">Copy</button>
                <button id="share" class="btn btn-primary rounded-x rounded-tl-lg rounded-br-lg rounded-bl-none !p-1.5 min-h-0 !h-[initial] absolute right-0 bottom-0 rounded-tr-none">Share</button>
                <code id="output"
                      class="language-regex overflow-hidden whitespace-break-spaces !border-0 !rounded-xl !shadow-none !bg-zinc-950/50 !p-3 w-full !pb-9 ">Output...</code>
            </div>
            <div class="flex flex-col gap-5 rounded-xl px-3 py-5 bg-zinc-950/50">
                <h2>Test Regex</h2>
                <p>Simply type in a sentence or some words and if a match is found for your regex, it will get highlighted</p>
                <hr class="border-white/10">
                <div>
                    <label for="tester-input" class="label">
                        <span class="label-text"><span id="tester-count">0</span> Matches</span>
                    </label>
                    <div
                            class="relative min-h-40 h-full w-full bg-zinc-900 font-mono"
                    >
                        <!-- Highlighted content -->
                        <pre
                                id="tester-highlight"
                                class="pointer-events-none absolute top-0 overflow-y-scroll left-0 h-full w-full whitespace-pre-wrap bg-transparent p-2 font-mono text-transparent textarea"
                        ></pre>

                        <!-- Editable textarea -->
                        <textarea
                                id="tester-input"
                                class="textarea textarea-bordered absolute top-0 left-0 w-full overflow-y-visible h-full p-2 !bg-transparent text-white caret-white resize-none font-mono"
                                spellcheck="false"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div id="editorContainer">
                <textarea id="inputField"></textarea>
            </div>
        </div>
    </section>
    <script>
       import '../../../scripts/automod-regex/generator.js'
       import '../../../scripts/automod-regex/regexEngine'
    </script>
</MainLayout>